.vscode/settings.json
__pycache__/AppView.cpython-39.pyc
__pycache__/Bill.cpython-39.pyc
__pycache__/ComplaintInfo.cpython-39.pyc
__pycache__/ExcelModel.cpython-39.pyc
__pycache__/Services.cpython-39.pyc
__pycache__/Bill.cpython-39.pyc
__pycache__/ComplaintInfo.cpython-39.pyc
__pycache__/ExcelModel.cpython-39.pyc
__pycache__/Services.cpython-39.pyc
Database - Copy.py